*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/*
.idea
.DS_Store
/build
/captures
.externalNativeBuild
app/google-services.json
app/src/main/res/values/secret.xml
